<!DOCTYPE html>
<html>
	<head>
		<title>实战</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href={{ url_for('static',filename='style.css') }} />
<!-- 		<style style="text/css">
			.div0{
				background:red;
			}
		</style> -->
	</head>
	<body>
		<!-- -->
		<div class="top">
			<div class="wp position1">
				<div class="left">
					<span><a href="http://www.baidu.com">百度</a></span>
					<span><a href="http://www.sina.net">新浪</a></span>
				</div>
				<div class="right color1">
					<span>2017-7-24</span>
					<span>晴.40摄氏度</span>
				</div>
			</div>
		</div>
		<!-- -->
		<div class="bottom">
			<div class="left color2 left_size">
			<div class="postion1">
				<ul>
					<li><a href="http://www.baidu.com" target="_blank"><img src="../static/img/4_3.jpg"/>政治</a></li>
					<li><a href="http://www.baidu.com"><img src="../static/img/4_3.jpg"/>经济</a></li>
					<li><a href="http://www.baidu.com"><img src="../static/img/4_3.jpg"/>文化</a></li>
					<li><a href="http://www.baidu.com"><img src="../static/img/4_3.jpg"/>生活</a></li>
					<li><a href="http://www.baidu.com"><img src="../static/img/4_3.jpg"/>社会</a></li>
				</ul>
			</div>
			</div>
			<div class="left color3 mid_size">
				<h1>左边上</h1>
			</div>
			<div class="right color4 right_size">
				<h1>you边上</h1>
			</div>
			<div class="color3 bottom_size1">
				<h1>xia上</h1>
			</div>
			<div class="color5 bottom_size2">
				<h1>xia上</h1>
			</div>
		<div >
	</body>
</html>